.Info {
  align-items: center;
  display: flex;
  flex-direction: column;
  background: url("../utilities/Images/mountains-2.jpg") no-repeat center
  rgba(165, 165, 165, 0.68);
  background-size: auto 70%;
  height: 90vh;
  justify-content: space-between;

  border: 4px solid black;
  border-radius: 10%;
  margin: 0 35%;
  width: 30%;
}

.header {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding-top: 12px;
  width: 80%;
}

.back-btn {
  background: transparent;
  border: none;
  display: block;
  font-size: 22px;
  margin: 70px 0;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

.back-btn:hover {
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}

.logo-small {
  height: 50px;
  width: 90px;
}

.info-section {
  border: 1px solid white;
  border-radius: 20px;
  background: grey;
  opacity: .9;
  padding: 20px;
}

.sign-register-btn {
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 5px 10px;
}
