.Info {
  align-items: center;
  background: url("../utilities/Images/mountains-2.jpg") no-repeat center
  rgba(165, 165, 165, 0.68);
  background-size: auto 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}

.info-section {
  border: 1px solid white;
  border-radius: 20px;
  background: grey;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 70vh;
  justify-content: space-evenly;
  max-width: 80%;
  opacity: .9;
  padding: 5px 20px;
  text-align: center;
}

.difficulty-icon {
  margin: 0 30%;
  width: 40%;
}

.display-text {
  line-height: 1.5;  
}

.weather-summary-text {
  margin: 15px;
}

.hourly-forecast-section{
  display: flex;  
  overflow: scroll;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.view-log-btn,
.weather-btn {
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  transition: all 0.4s ease-in-out;
  min-width: 100px;
}

.view-log-btn:hover,
.weather-btn:hover {
  background: black;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}