.Info {
  align-items: center;
  display: flex;
  flex-direction: column;
  background: url("../utilities/Images/mountains-2.jpg") no-repeat center
  rgba(165, 165, 165, 0.68);
  background-size: auto 100%;
  justify-content: space-evenly;
  overflow: auto;
}

.info-section {
  border: 1px solid white;
  border-radius: 20px;
  background: grey;
  opacity: .9;
  overflow: auto;
  padding: 20px;
}

.difficulty-icon {
  margin: 0 35%;
  width: 30%;
}

.view-log-btn {
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  font-size: 16px;
  padding: 5px 10px;
}
