.Start {
  align-items: center;
  background: url("../utilities/Images/mountains-2.jpg") no-repeat center
    rgba(165, 165, 165, 0.68);
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
}

.drop-down-controls {
  position: absolute;
  margin-top: 60vh;
}

.drop-down-menu {
  background: white;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
}

.select-btn {
  border: 1px solid black;
  border-radius: 20px;
  font-size: 16px;
  margin-left: 5px;
  padding: 5px 10px;
}

.select-btn:hover,{
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}