@import url("https://fonts.googleapis.com/css?family=Archivo");

* {
  font-family: "Archivo", sans-serif;
}

.Start {
  align-items: center;
  background: url("../utilities/Images/mountains-2.jpg") no-repeat center
    rgba(165, 165, 165, 0.68);
  background-size: auto 70%;
  display: flex;
  flex-direction: column;

  border: 4px solid black;
  height: 100vh;
}

.drop-down-menu {
  background: white;
  color: black;
  font-size: 12px;
  padding: 5px 10px;
}

.select-btn {
  border: 1px solid black;
  border-radius: 20px;
  font-size: 12px;
  margin-left: 5px;
  padding: 2px 10px;
}

.drop-down-controls {
  margin-top: 50vh;
}

.sign-register-btn {
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  font-size: 16px;
  margin: 70px 0;
  padding: 5px 10px;
}

.select-btn:hover,
.sign-register-btn:hover {
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}