.RegisterForm {
  align-items: center;
  background: url("../utilities/Images/mountains-2.jpg") no-repeat center
    rgba(165, 165, 165, 0.68);
  background-size: auto 70%;
  display: flex;
  flex-direction: column;
  height: 90vh;

  border: 4px solid black;
  border-radius: 10%;
  margin: 0 35%;
  width: 30%;
}

.header {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding-top: 12px;
  width: 80%;
}

.back-btn {
  background: transparent;
  border: none;
  display: block;
  font-size: 22px;
  margin: 70px 0;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

.back-btn:hover {
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}

.logo {
  height: 40px;
  margin-left: 10px;
  position: relative;
  top: 8px;
}

.back-btn:hover {
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}

.logo-small {
  height: 60px;
  width: 100px;
}

.register-form {
  border: 1px solid white;
  border-radius: 20px;
  background: grey;
  margin-top: 100px;
  opacity: .9;
  padding: 20px;
}

.submit-btn {
  border: 1px solid black;
  border-radius: 20px;
  font-size: 12px;
  margin-left: 5px;
  padding: 2px 10px;
}
