.Header {     
  align-items: center;
  background: rgba(165, 165, 165, 0.68);
  display: flex;
  justify-content: space-around;
  padding-top: 12px;
  width: 80%;
}

.main-title {
  color: white;
  font-size: 30px;
}
  
.logo {
  height: 60px;
}

.back-btn {
  background: transparent;
  border: none;
  display: none;
  font-size: 22px;
  margin: 70px 0;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

.back-btn:hover {
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}