.Header {     
  align-items: center;
  background: rgba(165, 165, 165, 0.68);
  display: flex;
  justify-content: space-around;
  padding-top: 12px;
  text-align: center; 
  width: 80%;
}

.main-title {
  color: white;
  font-size: 26px;
}
  
.logo {
  bottom: 4px;
  height: 60px;
  position: relative;
}

.back-btn {
  border: 1px solid black;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 10px;
  transition: all 0.4s ease-in-out;
}

.back-btn:hover {
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}