.SignRegister {
  border: 1px solid black;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 10px;
}

.select-btn:hover,
.sign-register-btn:hover {
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}
