.LocatingPopUp {
  align-items: center;
  background: grey;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  margin:  100px 20% 0 20%;
  opacity: .9;
  padding: 10px;
  width: 60%;
  z-index: 5;
}

.loading-gif {
  height: 40px;
}