.MyMountains {
  background: url("../utilities/Images/mountains-2.jpg") no-repeat center
  rgba(165, 165, 165, 0.68);
  background-size: auto 100%;
  overflow: scroll;
}

.my-mountain {
  background: rgb(128, 128, 128, 0.9);
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  margin: 10px auto;
  max-width: 50vw;
  padding: 10px;
  text-align: center;
}

.mountain-title {
  background: white;
  border-radius: 15px;
  color: black;
  font-size: 24px;
  margin-top: 0;
  padding: 5px 0;
}

.no-registers-msg {
  border: 1px solid white;
  border-radius: 20px;
  background: grey;
  color: white;
  font-size: 18px;
  opacity: .9;
  margin: 30vh auto;
  padding: 5px 20px;
  text-align: center;
  width: 200px;
}
