@import url("https://fonts.googleapis.com/css?family=Archivo");

* {
  font-family: "Archivo", sans-serif;
}

.App {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  height: 100vh;
}

.Header {
  width: 100%;
}

.Main {

}

.Footer {

}