@import url("https://fonts.googleapis.com/css?family=Archivo");

* {
  font-family: "Archivo", sans-serif;
}

button {
  background: white;
  height: 36px;
  min-width: 70px;
}

.App {
  background: rgba(165, 165, 165);
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  height: 100vh;
}

.Header {
  width: 100%;
}
