.BackButton {
  background: transparent;
  border: none;
  display: block;
  font-size: 22px;
  margin: 70px 0;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

.BackButton:hover {
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}
